.graph {
    width: 100%;
    background-color: #2B3038;
    border-radius: 15pt;
    margin-bottom: 6%;
    height: 40vh;
}
.user-side-bar {
    margin-right: 4%;
    width: 65%;
    background-color: #2B3038;
    border-radius: 15pt;
    height: 100%;
}

.menu-icon-wrapper{
    border-radius: 100%;
    background-color: #13161A;
    overflow: hidden;
    width: 37.5pt;
    height: 37.5pt;
    padding: 2%;
}
.user-profile-pic-wrapper{
    width: 46%;
    border-radius: 100%;
    overflow: hidden;

}

.user-info-container{
    border-bottom: 1px solid #13161A;
}

.user .card-body {
    /* flex: 1 1 auto; */
    min-height: 1px;
    padding: 1.25rem;
}

.badge-wrapper {
    background-color: #13161A;
    border-radius: 60pt;
    color: #18FF00;
    border: 1px solid #18FF00;
    /* height: fit-content; */
    padding: 2%;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    bottom: -7%;
    left: 0;
    right: 0;
    margin: 0 38%;
}

.icon-wrapper{
    border-radius: 100%;
    background-color: #13161A;
    padding: 5%;

}
.menu-options .d-flex.pointer:hover{
    color: #18FF00;

}
.user .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
}

.user .event-card {

     margin: 2%;
}