.graph {
    /* width: 40vw; */
    background-color: #2B3038;
    border-radius: 15pt;
    margin-bottom: 6%;
    max-height: 50vh;
    min-width: 40vw;
}
.graph span{
    color: #18FF00;
}
.bar-container{
    background-color: #13161A;
    padding: 3% 0 ;

    height: 28vh;
    width: 25%;
    border-radius: 2rem;
    position: relative;
}
.other-user card{
    width: auto;
}
.vertical-progress-bar {
    background-color: #18FF00;
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
}
.user-side-bar {
    margin-right: 4%;
    width: 65%;
    background-color: #2B3038;
    border-radius: 15pt;
    height: 80vh;
    min-width: 25vw;
    max-width: 25vw;
}
.user .user-side-bar{
    height: fit-content;
}
.user-menu-container{
    flex-direction: row;

}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #18FF00;
    transition: width .6s ease;
    border-radius: 18.75pt;

}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #13161A;
    border-radius: 18.75pt;
}
.user-sidebar-header{
    display: flex;
}
.user-sidebar-header p ,.user-sidebar-header h5{
    display: none;
}
.menu-icon-wrapper{
    border-radius: 100%;
    background-color: #13161A;
    overflow: hidden;
    width: 37.5pt;
    height: 37.5pt;
    padding: 2%;
}
.user-profile-pic-wrapper{
    /*width: 46%;*/
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 90pt;
    width: 90pt;
    background-repeat: no-repeat;

}

.user .user-info-container{
    border-bottom: 1px solid #13161A;
}
.followers-container{
    border-top: 1px  solid #13161A;
    border-bottom: 1px  solid #13161A;
    border-color: #13161A;

}
.menu-item{
    align-items: center;
    flex-grow: 1;
    display: flex;
}
.followers-container:nth-child(1){
    border-right: 1px  solid #13161A;

}

.user .card-body {
    /* flex: 1 1 auto; */
    min-height: 1px;
    padding: 1.25rem;
}

.badge-wrapper {
    background-color: #13161A;
    border-radius: 60pt;
    color: #18FF00;
    border: 1px solid #18FF00;
    /* height: fit-content; */
    padding: 2%;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    bottom: -7%;
    left: 0;
    right: 0;
    margin: 0 38%;
}
.grid-container card{
    flex-grow: 1;
}
.icon-wrapper{
    border-radius: 100%;
    background-color: #13161A;
    /*padding: 5%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40pt;
    height: 40pt;

}
.menu-options .d-flex.pointer:hover{
    color: #18FF00;

}
/*.user .grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto;*/
/*    padding: 0px;*/
/*}*/

.user .event-card {

     margin: 2%;
}
.followers-container{
    display: flex;
}
.other-user-btn {
    display: flex;

    margin: auto;
}
.other-user-btn button, .icon-btn {
    width: 100%;
    font-family: "SpaceGrotesk-Light";
    text-align: center;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position-x: 12%;
    background-size: 24px;
    background-position-y: center;
}
/*.other-user .grid-container {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto;*/
/*    padding: 0px;*/
/*}*/
@media (max-width: 985px) {
    .bar-container {
        background-color: #13161A;
        padding: 3% 0;
        height: 16vh;
        width: 50%;
        border-radius: 2rem;
        position: relative;
    }
    .other-user{
        flex-direction: column;
    }
    .user{
        flex-direction: column;
    }
    .user-side-bar{
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        width: 100%;
        height: fit-content
    }
    .menu-options .menu-item{
        background-color: #2B3038;
        padding: 3%;
        border-radius: 25px;
    }
    .graph{
        height: 25%;
        width: 100%;
    }
    .user-sidebar-header{
        display: flex;
    }
    .user-sidebar-header .menu-icon-wrapper {
        border: 1px solid #18FF00;
    }
    .user-profile-pic-wrapper {
        width: 90pt;

    }
    .user-sidebar-header p ,.user-sidebar-header h5{
        display: flex;
    }
    .followers-container{
        display: none;
    }
    .other-user-btn button {

        text-align: center;
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
        border-radius: 100%;
        height: 45pt;
        width: 45pt;
    }
    .other-user .grid-container{
        display: flex;flex-direction: column;
    }
    .other-user .cover-img-wrapper{
        display: none;
    }
    .back-arrow img{
        width: 22.5pt;
        height: 22.5pt;
    }
    .other-user .back-arrow{
        display: block;

    }
    .message .user-list-sub-section{
        background-color: #2B3038;
        border-radius: 18.75pt;

    }
    .user-menu-container{
        flex-direction: column;
    }
    .other-user .back-arrow , .other-user .back-arrow{
        position: relative;
    }
    .user-side-bar{
        max-width: 100%;
        min-width: 90%;
    }

}