@font-face {
    font-family: "SpaceGrotesk-SemiBold";
    src: url(SpaceGrotesk-SemiBold.ttf);
}


body{
    background-color: #13161A;
}

.search-container form input , .search-container form button{

     margin: 0;

}
form button{
    font-family: 'SpaceGrotesk-SemiBold';
}

.search form {
    display: flex;
    align-items: center;
}
.btn-clear:hover{
    border-color: #18FF00;
    color: #18FF00;
    background-color: transparent;
}

.event-card {
	border-radius: 20px;
	width: auto;
	margin: 20px;
}
.card-title{
    color: white;
}

.card-category{
    color: #B3B3B3;
}
 .event-card .card-body{
    background-color: #2B3038;
}

.spots {
    color: white;
    left: 40%;
    position: relative;
}

.cost{
    color: #18FF00;

}
.thumbnail-wrapper{
    border-radius: 100%;
    width: 20pt;
    height: 20pt;
    overflow: hidden;

}
.thumbnail-list{
    position: relative;

}
.thumbnail-wrapper {
    border: 1px #2B3038;
}
.thumbnail-wrapper {
    position: absolute;
}

.thumbnail-list :nth-child(1){
    z-index: 1;
left: 15pt;
}
.thumbnail-list :nth-child(2){
    z-index: 2;
left: 30pt;
}
.thumbnail-list :nth-child(3){
    z-index: 3;
left: 45pt;
}
 .difficulty-btn{
  color: #ffffff;
  width: 30%;
  border-radius: 45pt;
}
 .card-footer {
	padding: .75rem ;
	background-color: transparent;
	border-top: 1px solid #13161A;
}
 .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0px;
}


li{
  list-style: none;

}
.card{
  background-color: transparent;
}
button{
  border-style: none;
}
.event .event-form input, select {

    background-position: right center;
    background-position-x: 90%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-lg-screen{
    display: inline-block;
}

.lg-view{
    display: flex;
}
.sm-view{
    display: none;
}
.mobile-navbar{
    display: none;
}
.btn-mobile{
    display: none;
}
/* CAUTION: Internet Explorer hackery ahead */


select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

input[type=date]::-webkit-clear-button, /* blue cross */
input[type=date]::-webkit-inner-spin-button, /* up */
input[type=date]::-webkit-outer-spin-button /* down */
 {
    display: none;
}

@media (max-width: 985px) {
    .sm-view{
        display: block;
    }
    .events .grid-container{
        display: flex;
        flex-direction: column;
    }
    .events .cover-img-wrapper{
        display: none;
    }
    .mobile-navbar{
        background-color: #2B3038;
        max-height: 10%;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20;
    }
    .mobile-navbar img{
        max-width: 25%;
    }
    .mobile-navbar span , .sm-view p{
        display: block;
        color: #B3B3B3;

    }
    .mobile-navbar span:hover{
        color: #18FF00;


    }
    .search-input input{
        width: 100%;
        display: block;
        margin: 5% 0;
    }
    .btn-mobile{
        display: inline-block;
        background-color: #18FF00;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
        border-radius: 100%;
        height: 60px;
        width: 60px;
    }
    .btn-lg-screen{
        display: none;
    }
    .category{
        display: none;
    }
    .lg-view{
        display: none;
    }
    .navbar{
        display: none;
    }
    .event-card {
        border-radius: 20px;
        width: auto;
        margin: 10px 20px;
    }
}