@font-face {
    font-family: "SpaceGrotesk-SemiBold";
    src: url(SpaceGrotesk-SemiBold.ttf);
}

.range input {
    width: 100%;
    height: initial;
    padding: 0;
    margin: 0;

}
.range{
    width: 80%;
}

body{
    background-color: #13161A;
}

.search-container form input , .search-container form button{

     margin: 0;

}
form button{
    font-family: 'SpaceGrotesk-SemiBold';
}

.search form {
    display: flex;
    align-items: center;
}
.btn-clear:hover{
    border-color: #18FF00;
    color: #18FF00;
    background-color: transparent;
}

.event-card {
    border-radius: 20px;
    width: auto;
    margin: 3%;
    height: fit-content;
    max-width: fit-content;

}

.event-detail-container .event-card{
    max-width: 100%;

}
.card-title{
    color: white;
}

.card-category{
    color: #B3B3B3;
}
 .event-card .card-body{
    background-color: #2B3038;
}

.spots {
    color: white;
    left: 40%;
    position: relative;
}

.cost{
    color: #18FF00;

}
.thumbnail-wrapper{
    border-radius: 100%;
    width: 20pt;
    height: 20pt;
    overflow: hidden;

}
.thumbnail-list{
    position: relative;

}
.thumbnail-wrapper {
    border: 1px #2B3038;
}
.thumbnail-wrapper {
    position: absolute;
}

.thumbnail-list :nth-child(2){
    z-index: 1;
left: 15pt;
}
.thumbnail-list :nth-child(3){
    z-index: 2;
left: 30pt;
}
.thumbnail-list :nth-child(4){
    z-index: 3;
left: 45pt;
}
 .difficulty-btn{
  color: #ffffff;
  width: 30%;
  border-radius: 45pt;
}
 .card-footer {
	padding: .75rem ;
	background-color: transparent;
	border-top: 1px solid #13161A;
}

.grid-container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*padding: 0px;*/
    display: grid;
    grid-template-columns: auto auto auto;

}
.user .grid-container ,.other-user .grid-container{
    grid-template-columns: auto auto ;
}
.switch-wrapper > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.switch-wrapper > input[type="checkbox"] + .switch {
    transform: translateX(5px);
}
.switch-wrapper > input[type="checkbox"]:checked + .switch {
    transform: translateX(50%) translateX(-19px);
}
.switch-wrapper.large > input[type="checkbox"]:checked + .switch {
    transform: translateX(50%) translateX(-35px);
}
.switch-wrapper > input[type="checkbox"]:disabled + .switch {
    background: #ccc;
}

.switch-wrapper {
    border-radius: 20px;
    cursor: pointer;
    height: 24px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 48px;
}
.switch-wrapper.large {
    height: 40px;
    width: 80px;
}
.switch-wrapper > .switch {
    color: #fff;
    display: inline-block;
    height: 100%;
    left: -100%;
    position: relative;
    transition: 100ms linear;
    width: 200%;
}
.switch-wrapper > .switch > .switch-handle {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    left: 50%;
    position: relative;
    top: 4px;
    width: 14px;
    z-index: 3;
}
.switch-wrapper.large > .switch > .switch-handle {
    height: 30px;
    width: 30px;
}
.switch-label {
    float: left;
    line-height: 2.5rem;
    margin-left: 10px;
}
.switch-wrapper.large + .switch-label {
    line-height: 4rem;
    margin-left: 15px;
}


li{
  list-style: none;

}
.card{
  background-color: transparent;
}
button{
  border-style: none;
}
.event .event-form input, select {

    background-position: right center;
    background-position-x: 90%;
}
.search-dropdown {
    height: fit-content;
    /*background-color: #2B3038;*/
    border-radius: 18pt;
    /*position: absolute;*/
    /*z-index: 100;*/
    width: 90%;
    max-height: 35vh;
    overflow-y: auto;
    margin-top: 1%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-lg-screen{
    display: inline-block;
}

.lg-view{
    display: block;
}
.sm-view{
    display: none;
}
.mobile-navbar{
    display: none;
}
.btn-mobile{
    display: none;
}
/* CAUTION: Internet Explorer hackery ahead */


select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

input[type=date]::-webkit-clear-button, /* blue cross */
input[type=date]::-webkit-inner-spin-button, /* up */
input[type=date]::-webkit-outer-spin-button /* down */
 {
    display: none;
}

@media (max-width: 985px) {
    .event-details.container{
        padding: 0;
        margin: 0;
    }
    .home .header{
        display: block;
    }
    .header{
        display: none;
    }
    .user .event-card ,.other-user .event-card{
        max-width: 100%;
    }
    .sm-view{
        display: block;
    }
    .grid-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    }
    .events .grid-container{
        display: flex;
        flex-direction: column;
    }
    .events .cover-img-wrapper,.user .cover-img-wrapper ,.other-user .cover-img-wrapper{
        display: none;
    }
    .mobile-navbar {
        background-color: #2B3038;
        max-height: 10%;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20;
    }
    .mobile-navbar img{
        max-width: 25%;
    }
    .mobile-navbar span , .sm-view p{
        display: block;
        color: #B3B3B3;

    }
    .mobile-navbar span:hover{
        color: #18FF00;


    }
    .search-input input{
        width: 100%;
        display: block;
        margin: 5% 0;
    }
    .btn-mobile{
        display: inline-block;
        background-color: #18FF00;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
        border-radius: 100%;
        height: 60px;
        width: 60px;
    }
    .btn-lg-screen{
        display: none;
    }
    .category{
        display: none;
    }
    .lg-view{
        display: none;
    }
    /*.navbar{*/
    /*    display: none;*/
    /*}*/
    .event-card {
        border-radius: 20px;
        width: auto;
        margin: 10px 20px;
        max-width: 100%;
    }
    .search-dropdown{

        height: fit-content;
    }
    .search-input input , .search-input{
        width: 100%;
    }
}