@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    background-color: #2B2F38;
}
.notification__item--success , .notification__item , .notification__content{
    background-color: #2B2F38;
}
a{
    text-decoration: none;
    outline: none;
    transition: all 0.3s;
    color: #ffffff;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
    transition: all 0.3s;
    color: #18ff00;
}
img{
    max-width: 100%;
}
.btn{
    color: #ffffff;
    border: 1px solid #18ff00;
    background-color: #18ff00;
    padding: 10px 25px;
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
    outline: none;
}
.btn:hover, .btn:focus{
    color: #ffffff;
    border-color:#ffffff;
    background-color: transparent;
    box-shadow: none;
}
.btn-clear{
    color: #ffffff;
    border-color: #ffffff;
    background-color:transparent;
}
.btn-clear:hover ,.btn-clear:focus{
    color: #ffffff;
    border-color: #18ff00;
    background-color:#18ff00;
}
.btn svg {
    fill: #ffffff;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.btn:hover svg, .btn:focus svg{
    fill: #ffffff;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-group svg {
    position: absolute;
    fill: #555555;
    left: 13px;
    top: 17px;
    width: 13px;
    height: 22px;
}
input.form-control{
    padding: 27px 15px 27px 15px;
    font-size: 14px;
}
textarea.form-control{
    padding: 27px 15px 27px 15px;
    font-size: 14px;
}
.form-control.form-group-svg{
    padding: 27px 15px 27px 33px;
}
.feedback-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    margin-top: 15px;

}
.lg-view-flex{
    display: none;
}

.placeholder {
    margin: 0 auto;
    max-width: 200px;
    min-height: 100px;
    background-color: #eee;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #2b3038;
    background: linear-gradient(to right, #eeeeee00 10%, #3a4048 18%, #2b3038 33%);
    background-size: 800px 104px;
    height: fit-content;
    position: relative;
}
.sub-heading{
    text-align: left;
    color: white;
    background-color:#2b3038 ;
    padding: 2%;
}
@media (min-width:991px) {
    .lg-view-flex{
        display: flex;
    }
}